
$font-family-base ?= 'Roboto', Helvetica, sans-serif

inverse-color = #111
inverse-text-color = #e8e8e8
$brand-primary ?= #00b5ff
love-color = #cf0032

$navbar-inverse-bg ?= inverse-color
$navbar-inverse-border ?= inverse-color
$navbar-inverse-color ?= inverse-text-color
$navbar-inverse-link-color ?= inverse-text-color

footer-size-large = 110px
footer-size-small = 320px
footer-bottom-padding = 0

mobile-width = 992px

html
  overflow-y: scroll // force the scrollbar on... stops jumpy header on small content pages
  position: relative
  min-height: 100%

body
  margin-bottom: footer-size-large !important
  @media (max-width: mobile-width)
    margin-bottom: footer-size-small !important

#loading
  background: url("/assets/images/loading.gif") no-repeat center center
  height: 100%
  width: 100%

.room
  .container-fluid
  .col-md-8
  .col-md-4
    padding: 0 !important
  .panel
    margin: 0 !important
    padding: 0 !important
    height: 100%
    width: 100%
    .panel-body
      overflow-y: scroll
      min-height: 75vh
      max-height: 100vh
      min-height: 'calc(100vh - %s - 50px)' % footer-size-large
      @media (max-width: mobile-width)
        min-height: 'calc(100vh - %s - 50px)' % footer-size-small
      .panel-body
        min-height: 0px
        height: auto
    .panel-collapse
      .panel-body
        min-height: 60vh
        min-height: 'calc(100vh - %s - 50px - 75px)' % footer-size-large
        @media (max-width: mobile-width)
          min-height: 'calc(100vh - %s - 50px - 75px)' % footer-size-small
        .panel-body
          min-height: 0px
          height: auto

.content
  position: relative
  max-width: 100%
  width: 100%
  overflow: hidden
  padding-top: 50px

.footer
  position: absolute
  text-align: center
  background-color: inverse-color
  color: inverse-text-color
  margin-top: 0 !important
  padding-top: 10px
  bottom: 0px
  width: 100%
  height: footer-size-large
  @media (max-width: mobile-width)
    height: footer-size-small

.my-nav
  .navbar-inverse, .navbar-collapse
    border-color:inverse-color !important
    box-shadow: none !important
  padding-right: 10%
  padding-left: 10%

.navbar-inverse
  background-color: #111 !important
  border-color: #111 !important

.landing-content
  position: static !important
  padding-top: 20px !important
  padding-right: 5% !important
  padding-left: 5% !important
  padding-bottom: 20px!important
  text-align: center
  cursor: default

.landing-image-wrap
  background-color: inverse-color

.landing-image
  margin: auto
  border-style: solid
  max-height: 600px
  min-height: 450px
  @media (max-width: mobile-width)
    display: none !important

.quick-about
  position: relative
  @media (min-width: mobile-width)
    position: absolute;
    min-height: 200px
    height: auto
    max-height: 350px
    top: 100px
    width: 28em
    left: 8%
    z-index: 300
    border: 0px !important
    background: rgba(1, 1, 1, 0.8) !important
    color: rgb(255, 255, 255)

.landing-user
  position: relative
  @media (min-width: mobile-width)
    position: absolute;
    min-height: 200px
    height: auto
    max-height: 430px
    top: 70px
    width: 20em
    left: 60%
    z-index: 300

.nav-signin
  height: auto
  width: 20em
  li > a
    color: $brand-primary !important
    background-color: #fff  !important
    border-bottom: 1px solid #ddd !important
  li.active > a
    color: #808080 !important
    border-bottom-color: transparent !important
  ul
    border-bottom: 1px solid #ddd !important
    float: none !important
    a
      padding: 10px 15px !important
  .tab-content
    text-align: center

.single-page-element
  text-align: center
  width: 30em
  max-width: 100%
  margin: auto
  margin-top: 30px

.love
  color: love-color

.point-at
  cursor: pointer

// recaptcha align center hack
.center-align
  margin: 0 auto 10px
  div > div
    margin: 0 auto

.facebook-button
  background-color: #3b5998 !important
  border-color: #3b5998 !important


.twitter-button
  background-color: #55acee !important
  border-color: #55acee !important

iconSize = 20px

.icon
 background-position-x: 0%
 background-position-y: 0%
 background-size: iconSize
 width: iconSize
 height: iconSize
 display: block
 float: left

.facebook-logo
  background-image: url("/assets/images/facebook-logo.png")

.twitter-logo
  background-image: url("/assets/images/twitter-logo-white.png")

.twitter-logo-white
  background-image: url("/assets/images/twitter-logo-white.png")

.room-panel
  position: relative

.remote-listing
  position: absolute
  bottom: 0

@import 'bootstrap/index'
