
$font-family-base ?= 'Roboto', sans-serif

inverse-color = #111
inverse-text-color = #e8e8e8
$brand-primary ?= #00C2FF
love-color = #cf0032

$navbar-inverse-bg ?= inverse-color
$navbar-inverse-border ?= inverse-color
$navbar-inverse-color ?= inverse-text-color
$navbar-inverse-link-color ?= inverse-text-color

html
  position: relative
  min-height: 100%

body
  margin-bottom: 60px !important

.content
  position: relative
  max-width: 100%
  width: 100%
  overflow: hidden
  padding-top: 50px

.footer
  position: absolute
  text-align: center
  background-color: inverse-color
  color: inverse-text-color
  padding-top: 10px
  bottom: 0px
  width: 100%
  height: 60px

.my-nav
  .navbar-inverse, .navbar-collapse
    border-color:inverse-color !important
    box-shadow: none !important
  padding-right: 10%
  padding-left: 10%

.navbar-inverse
  background-color: #111 !important
  border-color: #111 !important

.landing-content
  position: static !important
  padding-top: 20px !important
  padding-right: 5% !important
  padding-left: 5% !important
  padding-bottom: 20px!important
  text-align: center
  cursor: default

.landing-image
  margin: auto
  border-style: solid
  border-color: inverse-color
  border-width: 0 3vmax
  max-height: 400px
  min-height: 250px
  background-color: inverse-color
  @media (max-width: 767px)
    display: none !important

.quick-about
  position: relative
  @media (min-width: 767px)
    position: absolute;
    min-height: 200px
    height: auto
    max-height: 350px
    top: 60px
    width: 28em
    left: 8%
    z-index: 300
    border: 0px !important
    background: rgba(1, 1, 1, 0.8) !important
    color: rgb(255, 255, 255)

.landing-login
  position: relative
  @media (min-width: 767px)
    position: absolute;
    min-height: 200px
    height: 48vmin
    max-height: 350px
    top: 60px
    width: 20em
    left: 60%
    z-index: 300

.love
  color: love-color

.point-at
  cursor: pointer

@import 'bootstrap/index'
